CONFIG_ARCH_MX6=y
CONFIG_ARM=y
CONFIG_SYS_TEXT_BASE=0x17800000
CONFIG_TARGET_MX6CUBOXI=y
CONFIG_DEFAULT_DEVICE_TREE="imx6qdl-mx6cuboxi"
CONFIG_OF_CONTROL=y
CONFIG_FORBID_SHA1=y
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_FIT_SIGNATURE=y
CONFIG_SPL_OPTEE_BOOT=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_BOOTCOMMAND="globalpage init 0x10817000; globalpage add ethaddr; fatload mmc 0:2 0x80A20000 /uefi.fit; bootm 0x80A20000"
CONFIG_BOOTDELAY=-2
CONFIG_IMX_PERSIST_INIT=y
CONFIG_EFI_LOADER=n
CONFIG_CMD_BOOTD=n
CONFIG_CMD_BOOTM=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_FAT=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_HDMIDETECT=y
CONFIG_CMD_I2C=n
CONFIG_CMD_MMC=y
CONFIG_CMD_SATA=y
CONFIG_CMD_PART=y
CONFIG_CMD_SPL=n
CONFIG_CMD_USB=y
CONFIG_CYRES=y
CONFIG_CMD_GLOBAL_PAGE=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_DM=y
CONFIG_DWC_AHSATA=y
CONFIG_DM_THERMAL=y
CONFIG_HUSH_PARSER=y
CONFIG_CONS_INDEX=1
CONFIG_PCI=n
CONFIG_FSL_ESDHC=y
CONFIG_PHYLIB=y
CONFIG_SECURE_BOOT=y
CONFIG_SPL_BOARD_PROVISION=y
CONFIG_SPL_BOARD_PROVISION_FUSES=n
CONFIG_SPL=y
CONFIG_SPL_FSL_CAAM=y
CONFIG_SPL_LOAD_FIT=y
CONFIG_SPL_FIT_SIGNATURE_STRICT=y
CONFIG_SPL_HASH_SUPPORT=y
CONFIG_SPL_ECC=y
CONFIG_USE_TINY_SHA256=y
CONFIG_SPL_OF_CONTROL=y
CONFIG_SPL_LEGACY_IMAGE_SUPPORT=n
CONFIG_SPL_OF_LIBFDT=y
CONFIG_SPL_DM=n
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
CONFIG_SPL_CRYPTO_SUPPORT=y
CONFIG_SPL_ENABLE_CACHES=y
CONFIG_SPL_EXT_SUPPORT=n
CONFIG_SPL_GPIO_SUPPORT=y
CONFIG_SPL_I2C_SUPPORT=n
CONFIG_SPL_LIBCOMMON_SUPPORT=y
CONFIG_SPL_LIBDISK_SUPPORT=n
CONFIG_SPL_LIBGENERIC_SUPPORT=y
CONFIG_SPL_MMC_SUPPORT=y
CONFIG_SPL_SERIAL_SUPPORT=y
CONFIG_SPL_SPI_SUPPORT=n
CONFIG_SPL_USE_ARCH_MEMCPY=n
CONFIG_SPL_WATCHDOG_SUPPORT=y
CONFIG_SPL_LDSCRIPT="arch/arm/cpu/u-boot-spl.lds"
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=arch/arm/mach-imx/spl_sd.cfg"
CONFIG_SYS_L2CACHE_OFF=y
CONFIG_SYS_MALLOC_F_LEN=0x800
CONFIG_ENV_VARS_UBOOT_RUNTIME_CONFIG=y
CONFIG_MII=y
CONFIG_USB_KEYBOARD=y
CONFIG_USB_STORAGE=y
CONFIG_USB=y
CONFIG_USE_TINY_PRINTF=y
CONFIG_VIDEO=y
CONFIG_OF_LIBFDT=y