CONFIG_ARCH_MX6=y
CONFIG_ARM=y
CONFIG_SYS_TEXT_BASE=0x17800000
CONFIG_TARGET_MX6VAB820=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_DEFAULT_DEVICE_TREE="imx6qdl-vab820"
CONFIG_OF_CONTROL=y
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_SPL_OPTEE_BOOT=y
CONFIG_BAUDRATE=115200
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="run bootcmd_uefi"
CONFIG_BOOTDELAY=-2
CONFIG_IMX_PERSIST_INIT=y
CONFIG_EFI_LOADER=n
CONFIG_CMD_BOOTD=n
CONFIG_CMD_BOOTM=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_CYREP=n
CONFIG_CMD_FAT=y
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_GPIO=n
CONFIG_CMD_I2C=y
# CONFIG_CMD_IMLS is not set
CONFIG_CMD_MMC=y
CONFIG_CMD_PART=y
CONFIG_CMD_PCI=y
CONFIG_CMD_SPL=n
CONFIG_CMD_SF=y
CONFIG_CMD_USB=y
CONFIG_CMD_GLOBAL_PAGE=y
CONFIG_CYREP=n
CONFIG_HUSH_PARSER=y
CONFIG_SPI=y
CONFIG_MXC_SPI=y
CONFIG_MXC_UART3=n
CONFIG_CONS_INDEX=1
CONFIG_SECURE_BOOT=y
CONFIG_FSL_ESDHC=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_SST=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPL=y
CONFIG_SPL_FIT=y
CONFIG_SPL_LOAD_FIT=y
CONFIG_SPL_LEGACY_IMAGE_SUPPORT=n
CONFIG_SPL_OF_LIBFDT=y
CONFIG_SPL_DM=n
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
CONFIG_SPL_CRYPTO_SUPPORT=y
CONFIG_SPL_ENABLE_CACHES=y
CONFIG_SPL_GPIO_SUPPORT=y
CONFIG_SPL_LIBCOMMON_SUPPORT=y
CONFIG_SPL_LIBGENERIC_SUPPORT=y
CONFIG_SPL_MMC_SUPPORT=y
CONFIG_SPL_SERIAL_SUPPORT=y
CONFIG_SPL_SPI_FLASH_SUPPORT=y
CONFIG_SPL_USE_ARCH_MEMCPY=n
CONFIG_SPL_WATCHDOG_SUPPORT=y
CONFIG_SPL_LDSCRIPT="arch/arm/cpu/u-boot-spl.lds"
CONFIG_SYS_DCACHE_OFF=n
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=arch/arm/mach-imx/spl_sd.cfg"
CONFIG_SYS_ICACHE_OFF=n
CONFIG_SYS_L2CACHE_OFF=y
CONFIG_SYS_MALLOC_F_LEN=0x800
CONFIG_ENV_VARS_UBOOT_RUNTIME_CONFIG=y
CONFIG_USB=y
CONFIG_USE_TINY_PRINTF=y
CONFIG_VIDEO=y
CONFIG_OF_LIBFDT=y
